@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=IBM+Plex+Sans&family=Lato&family=Merriweather&family=Open+Sans&family=Roboto&family=Source+Sans+Pro:ital@0;1&display=swap");
// Variables
$bg-primary: hsl(217, 30%, 15%);
$text-primary: hsl(0, 1%, 70%);
$btn-primary: hsl(300, 64%, 37%);
$link-primary: hsl(184, 82%, 35%);
$overlay: hsla(217, 30%, 15%, 0.9);
$title-primary: hsl(290, 74%, 46%);

:root {
  font-size: 16;
  font-family: Sources Sans Pro, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*::before,
*,
*::after {
  box-sizing: border-box;
  // background-color: rgba(255, 0, 0, 0.1);
}

body {
  min-height: 100vh;
}

main {
  height: 100vh;
  color: $text-primary;

  > * {
    background-color: $overlay;
  }

  .bg-mobile {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bg-primary;
    background: url("/images/books-and-chair.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: -1;
  }

  .content {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem;
    overflow-x: hidden;

    .form,
    .intro {
      position: relative;

      p {
        text-align: center;
      }
    }
  }

  .description {
    margin: 1.7rem 0;
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }

  .input {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }

  .intro {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-title {
    color: $title-primary;
    font-family: Carter One, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0px 5px 15px rgb(153, 51, 179);
  }
}

button {
  display: block;
  position: relative;
  margin: 2rem auto;
  margin-top: 3rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: $title-primary;
  color: #fff;
  border: none;
  cursor: pointer;
}

input {
  font-size: 1.2rem;
  display: block;
  width: 90vw;
  padding-left: 0.5rem;
  border-radius: 1rem;
  border: 3px solid $link-primary;

  &:focus {
    outline: 2px solid $title-primary;
    box-shadow: 0 0 5px 5px $title-primary;
  }

  &:invalid:focus {
    border-color: #af4261;
    box-shadow: 0 0 5px 5px #af4261;
  }
}

label {
  display: block;
  padding-left: 0.2rem;
  margin-bottom: 0.3rem;
  letter-spacing: 0.1rem;
}

.logo {
  height: auto;
  width: 20vw;
  position: relative;
  background-size: cover;
}

a {
  text-decoration: none;
  color: $link-primary;
}

ul {
  margin: 1rem 0;
  margin-left: 10%;
  list-style-type: square;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

@media (min-width: 961px) {
  main > * {
    background: none;
  }

  main {
    display: flex;
  }

  .bg-mobile {
    // display: none;
  }
  .content {
    display: flex;
    justify-content: center;
    float: right;
    .form,
    .intro {
      height: 50vh;
    }

    .intro {
      float: left;
      width: 50vw;
    }

    .form {
      float: right;
      width: 50vw;
    }
  }
}
